@use "../utils/" as *;

.container {
    max-width: rem(375);
    text-align: center;
    margin: 0 auto;

    @include breakpoint(large) {
        
        text-align: left;
        max-width: rem(900);
    }
}